/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
//    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
//    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
//    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
//    background-color:#E4E4E4;
//    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
//    background-image:-webkit-gradient(
//        linear,
//        left top,
//        left bottom,
//        color-stop(0, #A7A7A7),
//        color-stop(0.51, #E4E4E4)
//    );
//    background-attachment:fixed;
//    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:16px;
//    line-height: 1.2em;
//    height:100%;
//    margin:0px;
//    padding:0px;
//    text-transform:uppercase;
//    width:100%;
}

/* Portrait layout (default) */
.app {
//    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
//    position:absolute;             /* position in the center of the screen */
//    left:50%;
//    top:50%;
//    height:50px;                   /* text area height */
//    width:225px;                   /* text area width */
//    text-align:center;
//    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
//    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
           /* offset horizontal: half of text area width */

  position: relative;
//  padding: 3em;
  width: 100%;


}

/* Landscape layout (with min-width) */
//@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
//    .app {
//        background-position:left center;
//        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
//        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
//                                      /* offset horizontal: half of image width and text area width */
//    }
//}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

.scroll() {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.scroll{
  .scroll();
}

.overthrow-enabled .overthrow {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.overthrow{
  height: 100% - 15em; // TODO: this isn't the best way to make sure stuff doesn't get cut off. Just the quickest.
//  height: inherit;
}

li>a.tappable-active {
  color: #fff;
  background-color: #4286f5;
}
//
//.page {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  -webkit-transform:translate3d(0,0,0);
//}
//
//.stage-center {
//  top: 0;
//  left: 0;
//}
//
//.stage-left {
//  left: -100%;
//}
//
//.stage-right {
//  left: 100%;
//}
//
//.transition {
//  -moz-transition-duration: .375s;
//  -webkit-transition-duration: .375s;
//  -o-transition-duration: .375s;
//}


// Clearfix ----------------------------------------
.clearfix:after {
  content: ".";
//  display: block; // Keeping this line out prevents the little spaces between list items on some browsers.
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}


// Variables --------------------------------------
@themeColor1: #c3ced1;
@themeColor2: #009ec2;
@themeColor3: #143b54;
@themeColor4: #006d8e;
@themeColor5: #efefef;

@headerColor: @themeColor1;
@textColor: #575757;

@itemTitle: 1.5em;
@itemInfo: 0.8em;


// Main styles --------------------------------------
body {
//  font-size: 16px;
//  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


header{
  color: @headerColor;
  text-align: center;
//  padding: 0.3em 0 0.3em 0;
  font-size: 2em;
  min-height: 1.87em;
  background-color: @themeColor4;
  .title{
    padding-top: 0.3em;
  }
  .back{
//    position: absolute;
//    left: 20px;
//    top: 14px;
    float: left;
    padding: 0.4em 1em 0.2em 0.5em;
    img{
      height: 1em;
    }
  }
  .themeColor1{
    color: @themeColor1;
    color: @themeColor1;
  }
  .themeColor2{
    color: @themeColor2;
  }
  .themeColor3{
    color: @themeColor3;
  }
}

#wrapper {
  display: block;
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
  overflow: auto;

}

.errorMessage {
  font-size: 1.5em;
  padding: 0 1em 0 1em;
}

// the main list items
ul {
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    border-bottom: 1px solid #ddd;
    padding: 0.6em 0 0.6em 0.6em;
    margin: 0;
    background-color: #efefef;
    width: 100%;
  }
}


.mainMenu{
  padding: 0;
  margin: 0;


  // the main list items
  li{
    a{
      text-decoration: none;
      color: #575757;
      width: 100%;
      height: 100%;
    }
    font-size: 1.5em;
  }

  .menuItemLogo{
    width: 1em;
    height: 1em;
    margin-right: 0.7em;
  }
}

// Styles for main lists ------------------------------------------------------------------------------------------------
.itemList {

  .featured{
    background-color: #ffac94;
  }

  .nonfeatured{
//    max-height: 3em;
//    float: left;
//    .logo{
//      img{
//        max-height: 3em;
//      }
//      visibility: hidden;
//      position: absolute;
//      left: -100em;
//      width: 0%;
//    }
//    .itemInfo{
//      width: 100%;
//
//      .description{
//  //      visibility: hidden;
//        max-height: 1.2em;
//      }
//    }
  }

  a {
    color: @textColor;
    text-decoration: none;
  }

  .logo{
    float: left;
    width: 28%;
    margin-top: 0.1em;
    margin-left: -0.7em; // Make the logo flush with the side
    img{
      width: 100%;
    }

  }

  .itemInfo {
    width: 72%;
    float: left;
    font-size: @itemInfo;
    vertical-align: middle;

    .itemName {
      font-size: @itemTitle;
      margin: 0 0 0.3em 0.3em;
    }

    .infoPiece {
      margin: 0 0 0.5em 0.7em;
    }

    .description{
      overflow: hidden;
      text-overflow: ellipsis;
      max-height: 3.6em;
    }
//    .description:after {
//      content: "";
//      text-align: right;
//      position: absolute;
//      bottom: 0;
//      right: 0;
//      width: 70%;
//      height: 1.2em;
//      background: linear-gradient(to right, rgba(195, 206, 209, 0), rgba(195, 206, 209, 1) 50%);
//    }

    img{
      max-width: 1.3em;
      max-height: 1.3em;
      margin: 0 0.5em -0.1em 0;
    }
  }

  .hidden { // info not available, so hide it
    visibility: hidden;
    //    height: 2em;
  }
}

.itemView{
  padding: 0.5em 0.5em 0 0;

  .logo{
    float: right;
    max-width: 15em;
    img{
      width: 100%;
    }
  }

  .website .email .address{
    word-break:break-all;
  }
  .infoPiece {
    margin: 0 0 0.5em 1.1em;
    display: inline-block;
    float: left;
    width: 100%;
    min-height: 1em;
    .text{
      font-size: @itemInfo;
      float: left;
      max-width: 83%;
      word-break:break-all;
    }
    .icon{
      float: left;
      min-width: 2.5em;
      img {
        float: left;
        max-width: 1.5em;
        max-height: 1.2em;
      }
    }
  }
  .itemInfo {
//    width: 66%;
//    float: right;

//    vertical-align: middle;


    .itemName {
      font-size: @itemTitle;
      margin: 0 0 0.3em 0.3em;
    }


  }

  .address{
    .text{
      float: left;
      width: 87%;
    }
    img{
      float: left;
      max-width: 1.7em;
      max-height: 1.7em;
      margin: 0 0.7em 0 0;
    }
  }

  .description {
    font-size: @itemInfo;
    display: inline-block;
    position: relative;
    padding-top: 1em;
  }


  // info not available, so hide it
  .hidden{
    visibility: hidden;
    position: absolute;
    left: -1000em;
    width: 0%;
  }
}












// Styles for pageslider ------------------------------------------------------------------------------------------------
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page.page-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.page.page-center {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page.page-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}




