/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
}
/* Portrait layout (default) */
.app {
  /* offset horizontal: half of text area width */

  position: relative;
  width: 100%;
}
/* Landscape layout (with min-width) */
h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}
.event {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  margin: 0px 30px;
  padding: 2px 0px;
}
.event.listening {
  background-color: #333333;
  display: block;
}
.event.received {
  background-color: #4B946A;
  display: none;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
html,
body,
#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}
.scroll {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.scrollMainMenu {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 140px;
}
li > a.tappable-active {
  color: #fff;
  background-color: #4286f5;
}
.clearfix:after {
  content: ".";
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
body {
  font-weight: 300;
}
header {
  color: #c3ced1;
  text-align: center;
  font-size: 2em;
  min-height: 1.87em;
  background-color: #006d8e;
}
header .title {
  padding-top: 0.3em;
}
header .back {
  float: left;
  padding: 0.4em 1em 0.2em 0.5em;
}
header .back img {
  height: 1em;
}
header .themeColor1 {
  color: #c3ced1;
}
header .themeColor2 {
  color: #009ec2;
}
header .themeColor3 {
  color: #143b54;
}
#masthead {
  max-height: 5em;
  overflow: hidden;
}
#masthead img {
  width: 100%;
}
#wrapper {
  display: block;
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
}
.errorMessage {
  font-size: 1.5em;
  padding: 0 1em 0 1em;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 0.6em 0 0.6em 0.6em;
  margin: 0;
  background-color: #efefef;
  width: 100%;
}
.mainMenu {
  padding: 0;
  margin: 0;
}
.mainMenu li {
  font-size: 1.5em;
}
.mainMenu li a {
  text-decoration: none;
  color: #575757;
  width: 100%;
  height: 100%;
  padding: inherit;
  padding-right: 100%;
}
.mainMenu .menuItemLogo {
  width: 1em;
  height: 1em;
  margin-right: 0.7em;
}
.itemList .featured {
  background-color: #ffffff;
}
.itemList .featured .forwardArrow {
  /* Safari 4-5, Chrome 1-9 */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, #ffffff), color-stop(100%, #ffffff));
  /* Safari 5.1, Chrome 10+ */

  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
  /* Firefox 3.6+ */

  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
  /* IE 10 */

  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
  /* Opera 11.10+ */

  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 40%);
}
.itemList .nonfeatured {
  max-height: 3.2em;
  float: left;
}
.itemList .nonfeatured .logo {
  visibility: hidden;
  position: absolute;
  left: -100em;
  width: 0%;
}
.itemList .nonfeatured .itemInfo {
  width: 100%;
}
.itemList .nonfeatured .itemInfo .description {
  max-height: 1.2em;
  word-break: break-all;
}
.itemList .nonfeatured .forwardArrow {
  /* Safari 4-5, Chrome 1-9 */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(239, 239, 239, 0)), color-stop(40%, #efefef), color-stop(100%, #efefef));
  /* Safari 5.1, Chrome 10+ */

  background: -webkit-linear-gradient(left, rgba(239, 239, 239, 0) 0%, #efefef 40%);
  /* Firefox 3.6+ */

  background: -moz-linear-gradient(left, rgba(239, 239, 239, 0) 0%, #efefef 40%);
  /* IE 10 */

  background: -ms-linear-gradient(left, rgba(239, 239, 239, 0) 0%, #efefef 40%);
  /* Opera 11.10+ */

  background: -o-linear-gradient(left, rgba(239, 239, 239, 0) 0%, #efefef 40%);
}
.itemList a {
  color: #575757;
  text-decoration: none;
}
.itemList .logo {
  float: left;
  width: 28%;
  margin-top: 0.1em;
  margin-left: -0.7em;
}
.itemList .logo img {
  width: 100%;
}
.itemList .itemInfo {
  width: 72%;
  float: left;
  font-size: 0.8em;
  vertical-align: middle;
}
.itemList .itemInfo .itemName {
  font-size: 1.5em;
  margin: 0 0 0.3em 0.3em;
  white-space: nowrap;
  overflow: hidden;
}
.itemList .itemInfo .infoPiece {
  margin: 0 0 0.5em 0.7em;
}
.itemList .itemInfo .description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.65em;
}
.itemList .itemInfo img {
  max-width: 1.3em;
  max-height: 1.3em;
  margin: 0 0.5em -0.1em 0;
}
.itemList li {
  position: relative;
}
.itemList li .forwardArrow {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3em;
  /* fallback */

}
.itemList li .forwardArrow img {
  margin-top: 0.35em;
  right: 0.4em;
  position: absolute;
  opacity: 0.5;
}
.itemList .hidden {
  visibility: hidden;
}
.itemView {
  font-size: 1.2em;
  overflow: hidden;
  padding-right: 1.5em;
}
.itemView .buttons {
  font-size: 0.7em;
  float: left;
  width: 100%;
  margin-left: 1em;
}
.itemView .buttons .infoBtn {
  background-color: #009ec2;
  float: left;
  padding: 0.5em 0.9em 0.5em 0.9em;
  margin: 0.3em 0.2em 0.3em 0.2em;
}
.itemView .buttons .infoBtn a {
  text-decoration: none;
  color: #efefef;
}
.itemView .logo {
  float: right;
  max-width: 15em;
  position: relative;
  height: 100%;
  right: -1.5em;
  border: 1px solid #eee;
}
.itemView .logo img {
  width: 100%;
}
.itemView .website .email .address {
  word-break: break-all;
}
.itemView .infoPiece {
  margin: 0 0.5em 0.5em 1.1em;
  display: inline-block;
  float: left;
  width: 100%;
  min-height: 2em;
  vertical-align: middle;
}
.itemView .infoPiece a {
  text-decoration: none;
  color: #575757;
}
.itemView .infoPiece .text {
  font-size: 0.8em;
  float: left;
  max-width: 83%;
  word-break: break-all;
}
.itemView .infoPiece .icon {
  float: left;
  min-width: 2em;
}
.itemView .infoPiece .icon img {
  float: left;
  max-width: 1.5em;
  max-height: 1.2em;
}
.itemView .itemInfo .itemName {
  font-size: 1.5em;
  margin: 0.5em 0 0.3em 0.5em;
  width: 100%;
}
.itemView .address .text {
  float: left;
  width: 87%;
}
.itemView .address img {
  float: left;
  max-width: 1.7em;
  max-height: 1.7em;
  margin: 0 0.7em 0 0;
}
.itemView .description {
  font-size: 0.8em;
  display: inline-block;
  position: relative;
  padding-top: 1em;
  margin-right: 0.5em;
}
.itemView #pictures {
  margin-left: 1em;
}
.itemView #pictures .picture img {
  width: 100%;
  max-width: 400px;
}
.itemView .hidden {
  visibility: hidden;
  position: absolute;
  left: -1000em;
  width: 0%;
}
#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.page-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.page.page-center {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.page.page-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.page.transition {
  -webkit-transition-duration: .25s;
  transition-duration: .25s;
}
